body {
    font-size: 18px;
    background: moccasin;
    font-family: cursive;
}

h2 {
    text-align: center;
    
}

form {
    width: 300px;
    background: silver;
    padding: 15px 40px 40px;
    border: 5px solid rgb(38, 167, 199);
    margin: 50px auto 0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px
}

input, select {
    border: 1px solid rgb(30, 10, 143);
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

.row {
    padding-bottom: 9px;
}

.error {
    color: red;
    font-size: 70%;
}

input[type="submit"] {
    font-size: 120%;
    font-weight: 100;
    background: rgb(42, 19, 141);
    border-color: #c2d32f;
    
    color: rgb(245, 245, 245);
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #1d7929;
}	


